.formContainer {
    height: 923px;
    background-color: #98d4f3;
    overflow: hidden;
    position: relative;
  }

  .header {
    color: #F90;
    font-weight: normal;
    font-size: 4em;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }

  
  .fish {
    background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
    width: 235px;
    height: 1040px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  #fish1 {
    top: 120px;
  }
  
  #fish2 {
    top: 260px;
    animation-delay: 12s;
  }
  
  @keyframes myfirst {
    0% {
      margin-left: -235px;
    }
    70% {
      margin-left: 100%;
    }
    100% {
      margin-left: 100%;
    }
  }

  .form {
    margin: 0 auto;
    width: 500px;
    height: 20px;
    padding-top: 40px;
    color: white;
    position: relative;
  }

  .input {
    width: 500px;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .input:focus {
    border: solid 3px #77bde0;
  }
  
  /* Textarea styles */
  .textarea {
    height: 100px;
    width: 500px;
    resize: none;
    overflow: auto;
    border-radius: 10px;
    outline: none;
  }
  
  /* Submit button styles */
  .submitButton {
    margin-left: 150px;
    background-color: #F90;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  
  .submitButton:hover {
    background-color: #e58f0e;
  }
  
  /* Label styles */
  .label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
  }
  
  /* Formgroup styles */
  .formgroup {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
    margin-top: 25px;
  }
  
  .formgroup-active {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
  }

  .formgroupError {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    background-repeat: no-repeat;
    background-position: right;
    color: #ff0000;
  }