:global(*),
:global(::before),
:global(::after) {
  box-sizing: border-box;
}

:global(body) {
  background-color: white;
}

:global(body),
:global(header),
:global(ul),
:global(li),
:global(div) {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 24px;
}

:global(ul),
:global(li) {
  list-style: none;
}

:global(button) {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
  border-radius: 0;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.header {
  position: relative;
  height: 78px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  z-index: 999;
  background: linear-gradient(to right, #4169e1, #ffc0cb);
}

.toggleButon {
  position: relative;
  width: 55px;
  height: 55;
  margin-right: 30px;
  overflow: hidden;
  z-index: 2;
}

.toggleButon > span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: black;
}

.line1 {
  transform: translate(0, -10px);
}

.line2 {
  transform: translate(0, 10px);
}

.toggleButon[aria-expanded="true"] > .line1 {
  transform: translate(0, 0) rotate(-45deg);
}

.toggleButon[aria-expanded="true"] > .line2 {
  transform: translate(0, 0) rotate(45deg);
}

.navigation {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: white;
}

.navigation[aria-hidden="false"] {
  display: flex;
}

.navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem 0;
}

.navigation > ul > li {
  text-align: center;
}

.title {
  color: #2f4f4f;
  font-family: monospace; 
  width: 16ch;
  border-right: .08em solid;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  animation: typing 5s steps(11, end), caret .5s step-end infinite;
  margin-right: 780px;
}

@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }