.form {
    text-align: center;
}

.head { 
    text-align: center;
    font-size: 90px;
    font-family: 'Marker Felt', cursive;
    font-weight: bold;
    color: #ffff66;
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    padding: 5px; /* クレヨンの太さを調整 */
    border-radius: 5px; /* クレヨンの先端を丸くする */
}

.label {
    margin-top: 100px;
    text-align: center;
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes fadeInAnime{
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.labelName {
    font-size: 25px;
    font-family: 'Marker Felt', cursive;
    color:#ffff66;
    font-weight: bold;
}

.textName {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #ccc;
    font-size: 20px;
    font-family: 'Marker Felt', cursive;
    height: 34px;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
}

.labelPass {
    font-size: 25px;
    font-family: 'Marker Felt', cursive;
    color:#ffff66;
    font-weight: bold;
    margin-right: 24px;
}

.textPass {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: 5px 5px 3px #ccc;
    font-size: 20px;
    font-family: 'Marker Felt', cursive;
    height: 34px;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
}

.loginButton {
    text-align: center;
    font-family: 'Marker Felt', cursive;
    margin-top: 50px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    max-width: 220px;
    padding: 10px 25px;
    color: #ffff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: rgb(149,202,252);
    background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
}

.loginButton:hover {
    background: rgb(117,188,255);
    background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}

.change-img-anim {
    text-align: center;
    width: 100%;
    height: 929px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    animation: changeImage 55s infinite;
  }
  
  @keyframes changeImage {
    0% {
      background-image: url('../../img/tumu1.jpg');
    }
    20% {
        background-image: url('../../img/tumu4.jpg');
      }
    40% {
        background-image: url('../../img/tumu6.jpg');
      }
    60% {
      background-image: url('../../img/tumu7.jpg');
    }
    80% {
        background-image: url('../../img/tumu9.jpg');
    }
    100% {
        background-image: url('../../img/tumu11.jpg');
    }
  }

  .errorMsg {
    color: #FF0000;
    font-size: 50px;
    font-family: 'Marker Felt', cursive;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    width: 600px;
    margin-left: 670px;
    animation:fwari ease-in-out 2s infinite alternate;
    -webkit-animation:fwari ease-in-out 2s infinite alternate;
    -moz-animation:fwari ease-in-out 2s infinite alternate;
  }
  @keyframes fwari{
    0%   { transform:translate(0%, 0%); }
    100% { transform:translate(0%, -30px); }
  }
  @-webkit-keyframes fwari{
    0%   { -webkit-transform:translate(0%, 0%); }
    100% { -webkit-transform:translate(0%, -30px); }
  }
  
  @-moz-keyframes fwari{
    0%   { -moz-transform:translate(0%, 0%); }
    100% { -moz-transform:translate(0%, -30px); }
  }